# Python rubbish
**/__pycache__/

# MongoDB volume and dumps
.mongodb/
mongo-dump/

# VS Code files
.vscode

# Dataset
/src/datasets

# Db seeder node modules and temporary dump files
db-seed/node_modules
db-seed/dump
